@import "../../styles.scss";

.poll__question {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 30px;
    border: 1px solid $color-secondary;
    border-radius: 5px;
  }

  &-inputEdit {
    width: 70%;
    height: 30px;
    padding: 5px;
    border: 2px solid $color-secondary;
    border-radius: 5px;
  }

  &-answerBox {
    width: 70%;
    position: relative;
  }

  &-answer {
    width: 100%;
  }
}

.remove {
  position: absolute;
  right: -150px;
  bottom: -25px;
}
