<mat-dialog-content *ngFor="let data of pollData">
  <h2>{{ data.title }}</h2>
  <div *ngFor="let question of data?.questions; let i = index">
    <div class="poll__data-question">
      <div>{{ i + 1 + "." + " " + question?.text }}</div>
    </div>

    <div *ngFor="let answer of question?.answers; let last = last">
      <div class="poll__data-answerBox">
        <input
          [type]="answer.type"
          [id]="data.id"
          name="{{ question.text }}"
          class="poll__data-input"
        />
        <label [for]="data.id">{{ answer.text }}</label>
      </div>
      <textarea
        *ngIf="last && answer.textarea"
        name="option"
        id="option"
        cols="30"
        rows="10"
        placeholder="Molimo upišite komentar"
        class="poll__data-textarea"
      ></textarea>
    </div>
  </div>
</mat-dialog-content>
